{% extends 'base.html.twig' %}

{% block body %}
    {% include('_navbar.html.twig') %}
    <main>
        <div class="main-content">
            <h1>F.A.Q</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam corporis debitis dicta dolor error eum
                eveniet expedita iste, necessitatibus, nemo nostrum numquam odio possimus provident quisquam
                reprehenderit sit sunt voluptatem.</p>

            <section class="thread-messages-list">
                <div class="thread-messages-item">
                    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit ?</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                        <span class="badge bg-primary rounded-pill">8 reponses</span></p>
                    <a class="btn btn-primary">Voir le message</a>
                    <a class="btn btn-primary">Répondre</a>
                </div>
                <div class="thread-messages-item">
                    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores distinctio dolorum et excepturi, expedita fugiat fugit odit rerum ?</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                        <span class="badge bg-primary rounded-pill">8 reponses</span></p>
                    <a class="btn btn-primary">Voir le message</a>
                    <a class="btn btn-primary">Répondre</a>
                </div>
                <div class="thread-messages-item">
                    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit ?</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                        <span class="badge bg-primary rounded-pill">8 reponses</span></p>
                    <a class="btn btn-primary">Voir le message</a>
                    <a class="btn btn-primary">Répondre</a>
                </div><div class="thread-messages-item">
                    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit ?</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                        <span class="badge bg-primary rounded-pill">8 reponses</span></p>
                    <a class="btn btn-primary">Voir le message</a>
                    <a class="btn btn-primary">Répondre</a>
                </div>

            </section>
        </div>
    </main>
    {% include('_footer.html.twig') %}
{% endblock %}

{% block title %}
    Take'A'Vet - F.A.Q
{% endblock %}

