{% extends 'base.html.twig' %}

{% block body %}
    {% include('_navbar.html.twig') %}
    <main>
        <div class="main-content">
            <h1>TODO: Liste des messages</h1>
        </div>
    </main>
    {% include('_footer.html.twig') %}
{% endblock %}

{% block title %}
    Take'A'Vet - F.A.Q
{% endblock %}

