{% extends 'base.html.twig' %}

{% block title %}Take'A'Vet - Home{% endblock %}

{% block main %}
    <div class="main-content">
        <section class="main-content__home">
            <h1 class="main-content__title">Bienvenue sur <span>Take'A'Vet</span></h1>

            <img src="https://via.placeholder.com/1080x720.png">

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur deserunt distinctio, doloremque
                eius eos explicabo facilis illum itaque laudantium, magni molestias nihil non nulla numquam officiis
                porro sequi? Magnam, rem.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, accusantium aspernatur at eaque
                fuga harum illo inventore iure necessitatibus non officia, quae quas qui repellendus sunt tempora
                temporibus voluptatum. Pariatur?</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies, diam a tincidunt hendrerit,
                odio mi ultricies tortor, eu sodales risus purus nec lacus. Suspendisse vitae velit accumsan, semper
                leo quis, pretium ex. Quisque efficitur mauris sed arcu placerat volutpat. Donec commodo justo quis
                vulputate molestie. Vestibulum vitae mollis turpis, nec aliquet lorem. Praesent tempus suscipit
                metus nec suscipit. Integer in sem turpis. Phasellus turpis arcu, finibus ac erat quis, tincidunt
                lobortis eros. Ut quis ligula nunc. In accumsan condimentum commodo. Integer faucibus mauris in eros
                dapibus, eu cursus mi pulvinar. Suspendisse congue non nisl vel aliquam. Nulla convallis velit
                nulla, sed maximus ante blandit ac. Aenean in est finibus, mattis sem ut, ullamcorper urna.

                Sed suscipit quam non sapien luctus condimentum. Aenean a urna nec nisl iaculis sollicitudin sit
                amet ac ligula. Pellentesque consequat augue sapien, eu aliquam leo sodales interdum. Nullam nec
                dictum sem, a rhoncus sapien. Curabitur in volutpat neque. Mauris pellentesque suscipit metus, sit
                amet interdum metus ultricies a. Curabitur ante dui, vulputate sit amet nisi ut, malesuada congue
                odio.

                Cras cursus justo lacus, in pulvinar enim molestie eu. Praesent bibendum lorem non urna tristique,
                nec pulvinar felis facilisis. Vivamus id erat in ante posuere commodo a sed eros. Nullam rhoncus
                accumsan volutpat. Sed nec venenatis nisl, finibus hendrerit mi. Nam laoreet dui egestas, viverra
                purus non, vulputate ipsum. Nam volutpat rutrum orci, non vehicula nunc pretium sit amet. Donec
                imperdiet volutpat metus, eget fermentum felis pharetra eu. Ut vel turpis nisi. Sed consectetur,
                felis et sagittis pellentesque, est urna posuere nibh, a blandit mi felis nec ipsum. Vestibulum at
                massa pretium, dictum enim nec, fermentum odio. Phasellus ac tincidunt sem. Phasellus aliquet
                aliquam venenatis. Morbi id eros fringilla, egestas urna quis, rhoncus lectus.

                Cras pellentesque consectetur lacus sed commodo. Aliquam quis pulvinar erat, sed pulvinar nisl. Sed
                quis elit ultricies, posuere augue ac, imperdiet sem. Morbi dui ipsum, tristique eu eros vel, semper
                hendrerit risus. Maecenas tristique molestie dolor eu blandit. Nunc ullamcorper sed metus non
                ultrices. Mauris quis ipsum sit amet felis tempor sollicitudin. Phasellus eget dolor quis mi
                porttitor porta sit amet quis enim.

                Phasellus eu ipsum at est finibus condimentum eget sed elit. Praesent erat magna, dictum eget tempus
                eu, sagittis ut massa. Nam ac sagittis erat. Suspendisse et augue a mauris bibendum aliquam vitae et
                quam. Ut id ultricies sapien. Phasellus at velit nec ante fermentum egestas. Quisque a sapien
                eleifend, condimentum metus non, tincidunt dui. Nulla facilisi. Aenean fringilla sagittis ante a
                interdum. Sed et pretium magna, in lobortis sapien. Nunc eget luctus ex, id efficitur nulla. Vivamus
                non pretium ante, a faucibus mi. In sapien risus, commodo non dolor sed, accumsan tincidunt felis.
                Cras et velit ipsum. Suspendisse tempus, arcu et sodales ornare, nisl libero imperdiet enim, at
                porttitor felis enim ut dui. Curabitur feugiat elementum magna, ut ultricies elit placerat
                quis. </p>
        </section>
        <aside class="main-content__aside_home">
            <div class="main_buttons__list">
                <a class="btn btn-outline-success main_buttons__link" href="#">Prendre rendez-vous, chez vous <i class="fa-solid fa-house"></i></a>
                <a class="btn btn-outline-success main_buttons__link" href="{{ path('app_threads_form') }}">Poser une question <i class="fa-solid fa-question"></i></a>
                <a class="btn btn-outline-success main_buttons__link" href="{{ path('app_planning') }}">Consulter le planning des vétérinaires <i class="fa-solid fa-calendar-days"></i></a>
            </div>
            <a class="twitter-timeline" data-height="1200"
               href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw">Loading Tweets... <i class="fa-brands fa-twitter"></i></a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </aside>
    </div>
{% endblock %}
