{% extends 'base.html.twig' %}

{% block title %}Take'A'Vet - Home{% endblock %}

{% block main %}
    <div class="main-content col-row-responsive">
        <section class="main-content__home">
            <h1 class="main-content__title">Bienvenue sur <span>Take'A'Vet</span></h1>

            <img src="https://via.placeholder.com/1080x720.png">

            <figure>
                <blockquote class="blockquote text-justify">
                    <p>Bienvenue sur notre site de vétérinaire en ligne ! Nous sommes heureux de vous accueillir et de
                        vous
                        offrir une variété de services de soins pour animaux de compagnie à domicile. Nous avons conçu
                        notre
                        site de manière à ce qu'il soit facile à utiliser et sécurisé, afin que vous puissiez planifier
                        des
                        rendez-vous, suivre les progrès de votre animal de compagnie et poser des questions à nos
                        vétérinaires
                        en toute confiance. Nous sommes là pour vous aider à prendre soin de votre animal de compagnie
                        et à le
                        maintenir en bonne santé.</p>
                    <p>
                        Nous sommes également actifs sur les réseaux sociaux et nous aimerions vous connecter avec nous!
                        Suivez-nous sur <a href="#">Facebook <i class="fa-brands fa-facebook"></i></a>, <a href="#">Instagram
                            <i
                                    class="fa-brands fa-instagram"></i></a> et <a href="#">Twitter <i
                                    class="fa-brands fa-twitter"></i></a> pour
                        rester à jour sur nos derniers services, conseils de santé pour animaux de compagnie et
                        événements. Nous publions régulièrement du contenu intéressant et utile pour les propriétaires
                        d'animaux de compagnie, alors n'hésitez pas à nous suivre et à partager nos publications avec
                        vos amis et votre famille. Nous apprécions votre soutien et nous sommes heureux de vous offrir
                        une plateforme pour apprendre et échanger avec d'autres amoureux des animaux.
                    </p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    L'Equipe de <cite title="Source Title">Take'A'Vet</cite>
                </figcaption>
            </figure>
        </section>
        <aside class="main-content__aside_home">
            <div class="main_buttons__list">
                <a class="btn btn-outline-success main_buttons__link" href="#">Prendre rendez-vous, chez vous <i
                            class="fa-solid fa-house"></i></a>
                <a class="btn btn-outline-success main_buttons__link" href="{{ path('app_threads_form') }}">Poser une
                    question <i class="fa-solid fa-question"></i></a>
                <a class="btn btn-outline-success main_buttons__link" href="{{ path('app_planning') }}">Consulter le
                    planning des vétérinaires <i class="fa-solid fa-calendar-days"></i></a>
            </div>
            <a class="twitter-timeline" data-height="1200"
               href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw">Loading Tweets... <i
                        class="fa-brands fa-twitter"></i></a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </aside>
    </div>
{% endblock %}
