/*----------------------------------------
Medias
----------------------------------------*/

@media (min-width: 766px){
    .navbar-login-container > button {
        margin-left: 20px;
    }

    .navbar-button-spacer {
        margin-left: 2rem;
    }
}

/*----------------------------------------
Main css
----------------------------------------*/

/*To make <main> all the screen with flex: 1*/
body, html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    background-size: cover;
    /*noinspection CssUnknownTarget*/
    background: url("/media/background/chihuahua.jpg")  no-repeat center fixed;
}

.main-content {
    margin: 50px 50px 50px;
    padding: 20px;
    background: white;
    border-radius: 30px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-content__title {
    text-align: center;
}

.main-content__title > span {
    text-decoration: underline;
}

:root {
    /* variable blue of buttons */
    --main-color: #0D6EFD;
}

.main-title {
    color: #0d5e42;
    text-align: center;
}

.main-title > h1:after {
    content: ' ';
    /*noinspection CssUnknownTarget*/
    background-image: url("/media/cat.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 28px;
    width: 28px;
    display: inline-block;

}

/*Can be changed !!!*/
/*NOT FINAL !!!*/
@media (max-width: 766px){
    .main-content {
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0;
        padding-top: 10px;

        border-radius: 0px;
    }
}

@media (max-width: 1400px) {
    .main-content {
        flex-direction: column;
    }
    /*For: Twitter*/
    .main-content__home {
        margin: 0px !important;
    }
    .twitter-timeline {
        width: 50% !important;
        flex: 1;
    }
    .twitter-container {
        display: flex;
        justify-content: center;
        width: auto !important;
    }
}

.main-content__home {
    margin: 0px 40px 40px;
    padding: 50px;
    flex: 1;
}

.main-content__home > img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 10px;
}

.main-content__home > p {
    text-align: justify;
}

.twitter-container {
    height: 100%;
    width: 600px;
    margin: 30px;
    border-radius: 30px;
}

.footer-left-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

li a.nav-link.link-dark:hover {
    color: var(--main-color) !important;
}

.main-content > h2 {
    text-align: center;
}

/*----------------------------------------
animal css
----------------------------------------*/
.list_animal {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: solid black 2px;
    padding: 5px !important;
    border-radius: 15px;
}
.animal_part {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.list_animal_item {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

li a.nav-link.link-dark:hover {
    color: var(--main-color) !important;
}

.animal_desc {
    border: double black;
    margin: 10px;
}
.title {
    text-align: center;
}
/*----------------------------------------
Threads
----------------------------------------*/

.thread-messages-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    /*padding: 100px !important;*/
}

.thread-messages-item {
    padding: 30px;
    border: 1px dotted;
}

.thread-messages-item-promote {
    border-color: greenyellow;
    background-color: rgba(255, 255, 0, 0.5);
}

.thread-messages-author {
    color: gray;
}

/* form threads */

form {
    margin-top: 50px;
}

.form-end {
    display: flex;
    justify-content: space-between;
}

/* media query for form */

@media (min-width: 1300px) {
    div.main-title p.form-p {
        width: 80%;
        margin: -80px auto;
    }
    div.main-title h1.form_titles {
        margin: 100px;
    }
}

@media (max-width: 766px) {
    div.form-content {
        margin: 10px 20px;
        border-radius: 30px;
        padding-bottom: 50px !important;
    }
    div.main-title p.form-p {
        width: 60%;
        margin: 0 auto;
    }
    main.main_form {
        padding-top: 150px;
    }
    button.button_form {
        margin-top: 20px;
    }
}
/*----------------------------------------
Contact
----------------------------------------*/
.contact_main {
    display: flex;
    justify-content: space-between;
}
/*----------------------------------------
Transitions & utils
----------------------------------------*/

.navbar-fixed {
    position: fixed !important;
    left: 0;
    top: 0;
    width: 100%;
    background: white;
}