{% extends 'base.html.twig' %}

{% block title %}Hello PlanningController!{% endblock %}

{% block body %}

    {{ include('_navbar.html.twig') }}

    <main>
        <div class="main-content">
            <h1>Planning</h1>
        </div>
    </main>

    {{ include('_navbar.html.twig') }}
{% endblock %}
