<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img src="{{ asset('media/nav_logo.png') }}" width="40">
        Take'A'Vet
    </a>

    <div class="d-flex flex-row collapse flex-wrap">
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-secondary">Accueil</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Planning</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">FAQ</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Contact</a></li>
        </ul>

        <div class="navbar-login-container flex-grow-1 d-flex flex-wrap align-items-center justify-content-around">
            <button type="button" class="btn btn-primary">Créer un compte</button>
            <button type="button" class="btn btn-outline-primary me-2">Se connecter</button>
        </div>
    </div>
</header>