{% extends 'base.html.twig' %}

{% block title %}Mon vet'dashboard{% endblock %}

{% block main %}
    <div class="main-content">
        <h1 class="text-center">Mon Dashboard</h1>
    </div>
{% endblock %}
