{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    {{ include('_navbar.html.twig') }}

    <main>
        <div class="main-content">
            <h1>Mon compte</h1>
        </div>
    </main>

    {{ include('_footer.html.twig') }}
{% endblock %}
